name: Go
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        go:
          - 1.16
          - 1.17
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Check making CREDITS file
        run: make CREDITS

      - name: Build & Test
        run: |
          go test -race -v ./...
